/* prettier-ignore */
$primary: #D25593;
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$didascalic: #097F7B;

body {
  background: black;
}

.vt0,
.6p2 {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px 0 20px;
}
// cascading: smallest max-width goes second

@media only screen and (max-width: 524px) {
  .vt0 {
    padding: 50px 1.388888888888889vw 0 1.388888888888889vw;
  }
}
@media only screen and (max-width: 533px) {
  .b0t {
    padding: 50px 3.18749980952381vw 0 3.18749980952381vw;
  }
}
@media only screen and (max-width: 456px) {
  .b0t {
    padding: 50px 1.388888888888889vw 0 1.388888888888889vw;
  }
}
@media only screen and (max-width: 546px) {
  .oi9 {
    padding: 50px 2.309504761904762vw 0 2.309504761904762vw;
  }
}
@media only screen and (max-width: 556px) {
  .ydh {
    padding: 50px 1.388888888888889vw 0 1.388888888888889vw;
  }
}

.c3q {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ocp {
  margin: 0 auto;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.2w9 {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  padding-top: 2em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.pc8 {
  overflow: visible;
  white-space: nowrap;
}

.kl4 {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.x2v {
  overflow: visible;
  white-space: nowrap;
}

@media only screen and (min-width: 557px) {
  .2w9,
  .kl4 {
    font-size: 19.306584722222222px;
    font-size: 1.206661545138889em;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .kl4,
  .2w9 {
    font-size: 1.174273833621455em;
  }
  .2w9 {
    max-width: 19.51345209em;
  }
}
@media only screen and (max-width: 456px) {
  .2w9,
  .kl4 {
    font-size: calc(0.760364388020833em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 419px) {
  .2w9,
  .kl4 {
    font-size: calc(0.740364388020833em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 398px) {
  .2w9,
  .kl4 {
    font-size: calc(0.686707733500917em + 1.174408276405304vw);
  }
}

.kkd {
  font-family: 'WindsorEF', sans-serif;
  font-size: 19.306584722222222px;
  font-size: 1.206661545138889em;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  padding-top: 2em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.6m9 {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  padding-top: 2em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.f2r {
  overflow: visible;
  white-space: nowrap;
}

@media only screen and (min-width: 557px) {
  .6m9 {
    font-size: 19.306584722222222px;
    font-size: 1.206661545138889em;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .6m9 {
    font-size: 1.190357542293em;
  }
}

@media only screen and (max-width: 456px) {
  .6m9 {
    font-size: calc(0.760364388020833em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 419px) {
  .6m9 {
    font-size: calc(0.740364388020833em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 398px) {
  .6m9 {
    font-size: calc(0.686707733500917em + 1.174408276405304vw);
  }
}

.brm  {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  padding-top: 2em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.cp0 {
  overflow: visible;
  white-space: nowrap;
}

@media only screen and (min-width: 525px) {
  .brm {
    font-size: 19.306584722222222px;
    font-size: 1.206661545138889em;
  }
}

@media only screen and (max-width: 419px) {
  .9zr {
    font-size: calc(0.740364388020833em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 398px) {
  .brm,
  .9zr {
    font-size: calc(0.686707733500917em + 1.174408276405304vw);
  }
}

.i37 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 1.000793231094659em;
  margin-left: 0.000716145833333em;
}

.i4w {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 1.002908514013749em;
  min-width: inherit;
  max-width: 20em;
  margin-left: 0.064526909722222em;
}

@media only screen and (max-width: 689px) {
  .jb2 {
    max-width: 22.592030499097437rem;
  }
  .i98 {
    max-width: 18.928301240689em;
  }
  .62k {
    max-width: 19.00556446715754256em;
  }
}
@media only screen and (max-width: 524px) {
  .8mg {
    max-width: 18.38em;
  }
  .9ps {
    max-width: 17.57em;
  }
  .iy6 {
    max-width: 18.03em;
  }
  .jb2 {
    max-width: 18.650773em;
  }
}

.e2n {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.913537810682179em;
  margin-left: 0.031905381944444em;
}

@media only screen and (min-width: 690px) {
  .dkm,
  .z61 {
    margin-bottom: 0.80110409360961rem;
  }
}
@media only screen and (min-width: 557px) and (max-width: 689px) {
  .dkm,
  .z61 {
    margin-bottom: 0.754359132496929rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .dkm {
    margin-bottom: 0.77514428034546rem;
  }
  .z61 {
    margin-bottom: 0.764822394450225rem;
  }
}
@media only screen and (max-width: 524px) {
  .dkm,
  .z61 {
    margin-bottom: 0.886986310184539rem;
  }
}
@media only screen and (max-width: 456px) {
  .dkm,
  .z61 {
    margin-bottom: 0.895796455194807rem;
  }
}
@media only screen and (max-width: 419px) {
  .dkm {
    margin-bottom: 0.91767800908291rem;
  }
  .z61 {
    margin-bottom: 0.917678009082911rem;
  }
}
@media only screen and (max-width: 398px) {
  .dkm,
  .z61 {
    margin-bottom: 0.942181883597331rem;
  }
}

.mzu {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  min-width: inherit;
  max-width: 20em;
  font-size: 0.913537810682179em;
  margin-left: 0.031905381944444em;
}

@media only screen and (min-width: 690px) {
  .4yr,
  .hy4,
  .8ir {
    margin-bottom: 0.80110409360961rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 689px) {
  .4yr,
  .hy4,
  .8ir {
    margin-bottom: 0.754359132496929rem;
  }
}
@media only screen and (max-width: 524px) {
  .4yr {
    max-width: 18.04em;
  }
  .4yr,
  .hy4,
  .8ir {
    margin-bottom: 0.886986310184539rem;
  }
}
@media only screen and (max-width: 419px) {
  .8ir {
    margin-bottom: 0.917678009082911rem;
  }
}
@media only screen and (max-width: 398px) {
  .4yr,
  .8ir,
  .hy4 {
    margin-bottom: 0.942181883597331rem;
  }
}

.k9k {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: $didascalic;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 560;
  align-items: center;
}

@media only screen and (min-width: 933px) {
  .k9k {
    max-width: 89%;
  }
}
@media only screen and (max-width: 932px) {
  .k9k {
    max-width: 100%;
  }
}
@media only screen and (max-width: 524px) {
  .k9k {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 398px) {
  .k9k {
    color: rgba(255,250,240,0.8) !important;
  }
}

.l09 {
  max-width: 100%;
}

.b6f,
.a7g {
  max-width: 89%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  color: $didascalic;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 560;
}

@media only screen and (min-width: 525px) and (max-width: 556px) {
  .ck8 {
    max-width: 100%;
  }
}

.84x,
.nqq,
.gw7 {
  font-size: 0.492332099418298em;
  margin-left: 0;
  line-height: 123.882933133497038px;
  line-height: 5.161788880562377em;
}

.waz,
.qis,
.b0q {
  font-size: 0.500528820729772em;
  letter-spacing: 0.0000414595em;
  margin-left: 0;
  line-height: 125.211080366233538px;
  line-height: 5.217128348593065em;
}

.2y9 {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

@media only screen and (min-width: 557px) {
  .2y9 {
    font-size: 19.224906944444444px;
    font-size: 1.201556684027778em;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .2y9 {
    font-size: calc(0.946299532962399rem + 1.047878428474317vw);
  }
  .xt2 {
    max-width: 18.57878114em;
  }
}
@media only screen and (max-width: 398px) {
  .2y9 {
    font-size: calc(0.68420031985436em + 1.202421649939954vw);
    white-space: nowrap;
  }
}

.oa1 {
  font-family: 'WindsorEF', sans-serif;
  font-size: 19.224906944444444px;
  font-size: 1.201556684027778em;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.7y8 {
  padding-top: 2em;
}

.pk3 {
  padding-top: 1.2em;
}

.dyb {
  padding-top: 1.151em;
}

.kk8 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.998677948175569em;
  margin-left: 0.105764145954521em;
  line-height: 1.712585933368589em;
}

.3jk {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 1.000793231094659em;
  min-width: inherit;
  max-width: 20em;
}

.di3 {
  overflow: visible;
  white-space: nowrap;
}

.l2w {
  margin-left: 0.132205182443152em;
  line-height: 2.455050237969329em;
}

.yb2 {
  margin-left: 0.132205182443152em;
  line-height: 1.455050237969329em;
}

.rju {
  margin-left: 0.188392384981492em;
  margin-top: -0.636567953463777em;
}

.nqv {
  display: flex;
  flex-direction: row;
}

.2iu {
  font-size: 0.584346906398731em;
  margin-left: -0.192em;
  margin-top: -1.416567953463777em;
}

.nkw {
  font-size: 0.584346906398731em;
  margin-top: -0.416567953463777em;
}

.33y {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.911422527763089em;
  margin-left: -0.02544103648863em;
  line-height: 3.5048915917504em;
}

@media only screen and (max-width: 524px) {
  .33y {
    line-height: 3.194437154088746rem;
  }
}

.9zz {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.911422527763089em;
  margin-left: -0.02544103648863em;
  line-height: 3.5048915917504em;
  min-width: inherit;
  max-width: 20em;
}

.z56 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.911422527763089em;
  margin-left: -0.02544103648863em;
  margin-top: -1.258868323638289em;
  line-height: 1.405em;
  min-width: inherit;
  max-width: 22em;
}

.k2g {
  max-width: 89%;
  display: flex;
  flex-direction: column;
  color: $didascalic;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 560;
}

@media only screen and (max-width: 524px) {
  .k2g {
    max-width: 100%;
  }
}

.4uq {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  color: $didascalic;
  font-family: 'Avenir Heavy', sans-serif;
  font-weight: 560;
}

@media only screen and (max-width: 398px) {
  .k2g,
  .4uq,
  .a7g {
    color: rgba(255,250,240,0.8) !important;
  }
  .a7g {
    max-width: 100%;
  }
}

.2yc {
  font-size: 0.492332099418298em;
  margin-left: 0.044949762030672em;
  line-height: 1.189846641988367em;
  margin-top: -0.562599153886833em;
}

@media only screen and (min-width: 525px) and (max-width: 556px) {
  .2yc {
    line-height: 1.373893283221675em;
    margin-top: -0.654622474503487em;
    margin-left: 0.037612235825221em;
  }
}
@media only screen and (max-width: 524px) {
  .t0p {
    font-size: 0.592332099418298rem;
    line-height: 1.398401356238782rem;
    margin-top: -0.463590803902735rem;
  }
}

.ul5 {
  font-size: 0.492332099418298em;
  margin-left: 0.044949762030672em;
  line-height: 1.189846641988367em;
  margin-top: 0.562599153886833em;
}

.tn2,
.gnk,
.kv0 {
  font-size: 0.492332099418298em;
  margin-left: 0.132205182443152em;
  line-height: 1.74198656568829em;
}

@media only screen and (min-width: 525px) and (max-width: 556px) {
  .tn2,
  .gnk,
  .kv0 {
    line-height: 1.373893283221675em;
  }
  .tn2 {
    margin-bottom: 0.368093282466616em;
  }
}
@media only screen and (max-width: 524px) {
  .tn2,
  .gnk,
  .kv0 {
    font-size: 0.592332099418298rem;
    line-height: 1.398401356238782rem;
    margin-top: -0.2rem;
  }
}
@media only screen and (max-width: 398px) {
  .gnk,
  .kv0 {
    margin-left: 0.044949762030672em;
  }
  .tn2 {
    margin-top: 0;
  }
}

.7r0 {
  font-size: 0.492332099418298em;
  margin-left: 0.132205182443152em;
  line-height: 1.189846641988367em;
  margin-bottom: 0.276069961849962em;
}

.xh7 {
  margin-left: 0.037612235825221em;
}

@media only screen and (min-width: 525px) and (max-width: 556px) {
  .7r0 {
    line-height: 1.373893283221675em;
    margin-bottom: 0.368093282466616em;
  }
}
@media only screen and (max-width: 524px) {
  .7r0 {
    font-size: 0.592332099418298rem;
    line-height: 1.398401356238782rem;
    margin-top: -0.2rem;
    margin-bottom: 0.033179834138929rem;
  }
  .xh7 {
    margin-left: 0.044949762030672em;
  }
}
@media only screen and (max-width: 398px) {
  .xh7 {
    margin-left: 0.037612235825221em;
  }
}

.6tg,
.pml {
  font-size: 0.393971443680593em;
  letter-spacing: 0.0000414595em;
  margin-left: 0.007932310946589em;
  line-height: 2.352365122573992em;
  font-weight: 520;
  color: $primary;
}

@media only screen and (min-width: 690px) {
  .6tg,
  .pml {
    margin-bottom: 1.018711433368758rem;
  }
}
@media only screen and (max-width: 689px) {
  .6tg,
  .pml {
    margin-bottom: 0.971966472256077rem;
  }
}
@media only screen and (min-width: 533px) and (max-width: 556px) {
  .6tg,
  .pml {
    margin-bottom: 0.969600969760346rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 532px) {
  .6tg,
  .pml {
    margin-bottom: 0.973370968208516rem;
  }
}
@media only screen and (max-width: 524px) {
  .6tg,
  .pml {
    font-size: 0.592332099418298rem;
    line-height: 1.52874662218877rem;
    margin-bottom: 0.764373311094385rem;
  }
}

.tvq {
  font-family: 'DIN Medium', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.l0v {
  font-family: 'DIN Medium', sans-serif;
  color: $primary;
  font-size: 19.168753472222222px;
  font-size: 1.198047092013889em;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.l5u {
  padding-top: 2em;
}

.59i {
  padding-top: 1.2em;
}

.l6x {
  font-family: 'DIN Medium', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.4jd {
  max-width: 20em;
}

.r3f {
  overflow: visible;
  white-space: nowrap;
}

@media only screen and (min-width: 557px) {
  .tvq,
  .l6x {
    font-size: 19.168753472222222px;
    font-size: 1.198047092013889em;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .tvq,
  .l6x {
    font-size: calc(0.8946em + 1.044817710812813vw);
  }
  .4jd {
    max-width: 19.3473443642112em;
  }
}
@media only screen and (max-width: 456px) {
  .tvq {
    font-size: calc(0.760364388020833em + 1.051773887316229vw);
    white-space: nowrap;
  }
  .l6x {
    font-size: calc(0.760364388020833em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 419px) {
  .tvq {
    font-size: calc(0.740364388020833em + 1.051773887316229vw);
    white-space: nowrap;
  }
  .l6x {
    font-size: calc(0.740364388020833em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 398px) {
  .tvq {
    font-size: calc(0.667245672079958em + 1.198909531472257vw);
    white-space: nowrap;
  }
  .l6x {
    font-size: calc(0.667245672079958em + 1.198909531472257vw);
  }
}

.djc {
  font-family: 'DIN Medium', sans-serif;
  color: $primary;
  font-size: 19.168753472222222px;
  font-size: 1.198047092013889em;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
  max-width: 20em;
}

.j05 {
  font-family: 'Bangla MN', sans-serif;
  font-weight: 960;
  letter-spacing: 0.0390414595em;
}

.v01 {
  font-size: 0.978318350079324em;
  margin-left: -0.105764145954521em;
  line-height: 1.911955077206909em;
}

.6w6 {
  font-size: 0.978318350079324em;
  margin-left: -0.105764145954521em;
  line-height: 1.911955077206909em;
  margin-top: 0.477988769301728em;
}

.w9b {
  font-size: 0.949762030671603em;
  margin-left: -0.029em;
  line-height: 2.149924405604582em;
}

.bkf {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.996827075621365em;
  min-width: inherit;
  max-width: 20em;
  margin-left: -0.059323109465891em;
  line-height: 2.837391354308972em;
}

.1n2 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.996827075621365em;
  min-width: inherit;
  max-width: 20em;
  margin-left: -0.059323109465891em;
  line-height: 2.837391354308972em;
  margin-top: -0.358491576976296em;
}

.u26 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.782654680063459em;
}

.h2o {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.782654680063459em;
  margin-top: -0.238994384650864em;
}

@media only screen and (max-width: 398px) {
  .h2o,
  .u26 {
    font-size: 0.80834663062231em !important;
  }
}

.4aa {
  margin-left: -0.092882072977261em;
  line-height: 1.364198836594396em;
}

@media only screen and (min-width: 525px) and (max-width: 689px) {
  .4aa {
    margin-left: -0.042882072977261em;
  }
}
@media only screen and (max-width: 524px) {
  .4aa {
    line-height: 1.564198836594396em;
    margin-left: -0.042882072977261em;
  }
}

.li6 {
  margin-left: -0.092882072977261em;
  line-height: 1.564198836594396em;
}

@media only screen and (min-width: 533px) and (max-width: 689px) {
  .li6 {
    margin-left: -0.042882072977261em;
  }
}
@media only screen and (min-width: 525px) and (max-width: 532px) {
  .li6 {
    margin-left: -0.049882072977261em;
  }
}
@media only screen and (max-width: 524px) {
  .li6 {
    margin-left: -0.042882072977261em;
  }
}
@media only screen and (max-width: 398px) {
  .li6 {
    margin-left: -0.092882072977261em;
  }
}

.1za {
  margin-left: -0.042882072977261em;
  line-height: 1.364198836594396em;
}

@media only screen and (max-width: 524px) {
  .1za {
    line-height: 1.389883722423361em;
  }
}
@media only screen and (max-width: 398px) {
  .m7t {
    margin-left: -0.092882072977261em !important;
  }
}

.wnx {
  margin-left: -0.035882072977261em;
  line-height: 1.364198836594396em;
}

@media only screen and (min-width: 525px) and (max-width: 532px) {
  .5li {
    margin-left: -0.042882072977261em;
  }
}
@media only screen and (max-width: 524px) {
  .wnx {
    line-height: 1.389883722423361em;
  }
}
@media only screen and (max-width: 398px) {
  .5li {
    margin-left: -0.077720154121669em;
  }
}

.1qe {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.387890005288207em;
  margin-left: -0.089882072977261em;
  line-height: 3.908910629296669em;
}

@media only screen and (min-width: 690px) {
  .1qe {
    margin-bottom: 0.667235690764653rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 689px) {
  .1qe {
    margin-bottom: 0.620490729651972rem;
  }
  .nqq,
  .y8i {
    line-height: calc(5.161788880562377em - 0.018026127009528rem);
    margin-top: 0.009013063504764rem;
  }
  .qis,
  .e8x {
    line-height: calc(5.217128348593065em - 0.186979844450724rem);
    margin-top: 0.093489922225362rem;
  }
}
@media only screen and (min-width: 533px) and (max-width: 556px) {
  .1qe {
    margin-bottom: 0.653730651383969rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 532px) {
  .1qe {
    margin-bottom: 0.659880517369347rem;
  }
}
@media only screen and (max-width: 524px) {
  .waz,
  .qis,
  .84x,
  .nqq {
    font-size: 0.592332099418298rem;
    line-height: 3.057493244377539rem;
  }
  .1qe {
    font-size: 0.592332099418298rem;
    line-height: 3.057493244377539rem;
  }
  .e8x {
    line-height: 1.52874662218877rem !important;
    margin-top: -0.764373311094385rem !important;
    margin-bottom: 0.764373311094385rem;
  }
}

.wba {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.387890005288207em;
  margin-left: 1.077526909722222em;
  line-height: 1.389883722423361em;
  margin-top: -0.69494186121168em;
  color: rgba($primary, 0.6);
}

@media only screen and (min-width: 690px) {
  .wba {
    margin-bottom: 1.25065271018966rem;
  }
}
@media only screen and (max-width: 689px) {
  .wba {
    margin-bottom: 1.203907749076978rem;
  }
}
@media only screen and (min-width: 533px) and (max-width: 556px) {
  .wba {
    margin-bottom: 1.215963536044187rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 532px) {
  .wba {
    margin-bottom: 1.218163043421892rem;
  }
}
@media only screen and (max-width: 524px) {
  .wba {
    font-size: 0.592332099418298rem;
    line-height: 2.149998532584837rem;
    margin-left: 0.27334052130156rem;
    margin-bottom: 0.453747355896351rem;
  }
}

.9p5 {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

@media only screen and (min-width: 557px) {
  .9p5 {
    font-size: 19.281060416666666px;
    font-size: 1.205066276041667em;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .9p5 {
    font-size: calc(0.89922em + 1.050939146135819vw);
  }
}
@media only screen and (max-width: 419px) {
  .9p5 {
    font-size: calc(0.740364388020833em + 1.051773887316229vw);
    white-space: nowrap;
  }
}
@media only screen and (max-width: 398px) {
  .9p5 {
    font-size: calc(0.659481882077526em + 1.184959524415264vw);
    white-space: nowrap;
  }
}

.ju6 {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  font-size: 19.281060416666666px;
  font-size: 1.205066276041667em;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.9ez {
  padding-top: 2em;
}

.yca {
  padding-top: 1.2em;
}

.zrd,
.bj3 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.618455843469064em;
}

@media only screen and (max-width: 524px) {
  .zrd,
  .bj3 {
    font-size: 0.659505552617663rem;
  }
}
@media only screen and (max-width: 419px) {
  .zrd {
    color: rgba(255,250,240,0.8) !important;
    font-size: calc(0.535804654580337em + 0.543430468870536vw) !important;
    font-family: 'Avenir Heavy', sans-serif;
  }
}

.o02 {
  margin-left: 0.298307773664728em;
  line-height: 2.643194250658272em;
}

@media only screen and (max-width: 419px) {
  .o02 {
    margin-top: 0.516599769432785em;
    line-height: 1.609994711792703em;
  }
}

.x7k {
  margin-left: 0.558307773664728em;
  margin-top: -0.615753656265148em;
  line-height: 1.501597125329136em;
}

.qpm {
  margin-left: 0.558307773664728em;
  line-height: 1.501597125329136em;
}

@media only screen and (max-width: 419px) {
  .x7k,
  .qpm {
    line-height: 1.609994711792703em;
    margin-top: 0;
  }
}

.f94 {
  font-size: 1.000619003404519em !important;
  line-height: 1.389883722423361em;
}

@media only screen and (max-width: 524px) {
  .f94 {
    line-height: 1.517133211874957em;
  }
}

.trr {
  font-size: 1.000619003404519em !important;
  line-height: 1.389883722423361em;
  margin-top: -0.69494186121168em;
}

@media only screen and (max-width: 524px) {
  .4u8 {
    line-height: 1.389883722423361em;
    margin-top: 0;
  }
}

.frv {
  font-size: 1.000619003404519em !important;
  line-height: 1.389883722423361em;
  margin-left: 0.210526909722222em;
}

.waj {
  font-size: 1.000619003404519em !important;
  line-height: 1.389023911892941em;
  margin-left: 0.454026909722222em;
}

@media only screen and (max-width: 524px) {
  .waj {
    line-height: 1.516194682204759em;
  }
}
@media only screen and (max-width: 419px) {
  .waj {
    line-height: 1.517133211874957em;
    margin-left: 0.457526909722222em !important;
  }
}

.qvc {
  display: flex;
  flex-direction: row;
}

.z0j {
  display: flex;
  flex-direction: row;
}

.atq {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.854309888947646em;
}

@media only screen and (max-width: 419px) {
  .atq {
    font-size: 0.934309888947646em;
  }
}

.pi0 {
  min-width: inherit;
  max-width: 20em;
  margin-left: 0.178526909722222em;
  line-height: 2.823828662083554em;
}

@media only screen and (max-width: 524px) {
  .pi0 {
    line-height: 1.517133211874957em;
    margin-top: 0.653347725104299em;
  }
}

.6wf {
  min-width: inherit;
  max-width: 20em;
  margin-left: 0.457526909722222em;
  line-height: 1.389883722423361em;
  margin-top: -0.69494186121168em;
}

@media only screen and (max-width: 524px) {
  .6wf {
    line-height: 1.517133211874957em;
    margin-top: 0;
  }
}

.qc2 {
  min-width: inherit;
  max-width: 20em;
  margin-left: 0.408726909722222em;
  line-height: 1.389883722423361em;
}

@media only screen and (max-width: 524px) {
  .qc2 {
    line-height: 1.517133211874957em;
  }
}

.iey {
  min-width: inherit;
  max-width: 20em;
  margin-left: 0.064526909722222em;
  line-height: 1.389883722423361em;
}

@media only screen and (max-width: 524px) {
  .iey {
    line-height: 1.517133211874957em;
  }
}

.dy1 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.911422527763089em;
  margin-left: 0.299905381944444em;
  line-height: 3.219989423585405em;
}

@media only screen and (min-width: 690px) {
  .fx7 {
    margin-top: 0.194209661133249rem;
    line-height: calc(3.219989423585405em - 0.388419322266498rem);
  }
}
@media only screen and (min-width: 557px) and (max-width: 689px) {
  .fx7 {
    margin-top: 0.24095462224593rem;
    line-height: calc(3.219989423585405em - 0.481909244491859rem);
  }
}
@media only screen and (min-width: 533px) and (max-width: 556px) {
  .fx7 {
    margin-top: 0.219297035356596rem;
    line-height: calc(3.219989423585405em - 0.438594070713192rem);
  }
}
@media only screen and (min-width: 525px) and (max-width: 532px) {
  .fx7 {
    margin-top: 0.207314260923906rem;
    line-height: calc(3.219989423585405em - 0.414628521847812rem);
  }
}
@media only screen and (max-width: 524px) {
  .k4p {
    margin-bottom: 0.061361172281459rem;
  }
}
@media only screen and (max-width: 419px) {
  .k4p {
    margin-bottom: 0.131537765557782rem;
  }
}
@media only screen and (max-width: 398px) {
  .k4p {
    margin-bottom: 0.143657378665942rem;
  }
}

.t6e {
  font-family: 'WindsorEF', sans-serif;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

@media only screen and (min-width: 557px) {
  .t6e {
    font-size: 19.296375px;
    font-size: 1.2060234375em;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .t6e {
    font-size: calc(0.929934233518665em + 1.051773887316229vw);
  }
}
@media only screen and (max-width: 419px) {
  .t6e {
    font-size: calc(0.740364388020833em + 1.051773887316229vw);
    white-space: nowrap;
  }
}

.npn {
  font-family: 'WindsorEF', sans-serif;
  font-size: 19.296375px;
  font-size: 1.2060234375em;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

.6z9 {
  padding-top: 2em;
}

.8ah {
  padding-top: 1.2em;
}

.k0h {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.555261766261237em;
}

@media only screen and (max-width: 524px) {
  .n1w,
  .hs8 {
    font-size: 0.659505552617663rem;
  }
}
@media only screen and (max-width: 419px) {
  .hs8 {
    font-size: 0.642712189317822rem;
  }
}

.wns {
  margin-left: 0.298307773664728em;
  line-height: 2.643194250658272em;
}

@media only screen and (max-width: 419px) {
  .wns {
    margin-top: 0.516599769432785em;
    line-height: 1.609994711792703em;
  }
}

.o5j {
  margin-left: 0.298307773664728em;
  margin-top: -0.615753656265148em;
  line-height: 1.501597125329136em;
}

.my4 {
  margin-left: 0.298307773664728em;
  line-height: 1.501597125329136em;
}

@media only screen and (max-width: 419px) {
  .o5j,
  .my4 {
    line-height: 1.609994711792703em;
    margin-top: 0;
  }
}

.wi6,
.t3n,
.kzp {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.782654680063458em;
}

@media only screen and (max-width: 524px) {
  .wi6,
  .t3n,
  .kzp {
    font-size: 0.782654680063459em;
  }
}
@media only screen and (max-width: 419px) {
  .t3n {
    font-size: 0.850654680063458em;
  }
}

.sxg {
  min-width: inherit;
  max-width: 22em;
  margin-left: 0.178526909722222em;
  line-height: 2.823828662083554em;
}

@media only screen and (max-width: 524px) {
  .5tu {
    line-height: 1.564198836594396em;
    margin-top: 0.492927589033304rem;
  }
}

.v8u {
  min-width: inherit;
  max-width: 24em;
  margin-left: 0.178526909722222em;
  line-height: 2.823828662083554em;
}

@media only screen and (max-width: 524px) {
  .v8u {
    line-height: 1.564198836594396em;
    margin-top: 0.492927589033304rem;
  }
}

.eyy {
  min-width: inherit;
  max-width: 24em;
  margin-left: 0.178526909722222em;
  margin-top: 0.352978582760444em;
  line-height: 2.823828662083554em;
  color: rgba($primary, 0.98);
}

.xru {
  min-width: inherit;
  max-width: 22em;
  margin-left: 0.210526909722222em;
  line-height: 1.389883722423361em;
  margin-top: -0.69494186121168em;
}

@media only screen and (max-width: 524px) {
  .xru {
    line-height: 1.389883722423361em;
    margin-top: 0;
  }
}

.k1q {
  margin-right: 0.050526909722222em;
  min-width: inherit;
  max-width: 22em;
  margin-left: 0.210526909722222em;
  line-height: 1.389883722423361em;
  margin-top: -0.69494186121168em;
}

@media only screen and (max-width: 524px) {
  .7z8 {
    line-height: 1.389883722423361em;
    margin-top: 0;
  }
}

.a1j {
  min-width: inherit;
  max-width: 22em;
  margin-left: 0.050526909722222em;
  line-height: 1.389883722423361em;
  margin-top: -0.69494186121168em;
}

@media only screen and (max-width: 524px) {
  .a1j {
    line-height: 1.389883722423361em;
    margin-top: 0;
  }
}

.x0r {
  min-width: inherit;
  max-width: 22em;
  margin-left: 0.050526909722222em;
  line-height: 1.389883722423361em;
}

.q8d {
  min-width: inherit;
  max-width: 22em;
  margin-left: 0.210526909722222em;
  line-height: 1.389883722423361em;
  margin-top: -0.69494186121168em;
  color: rgba($primary, 0.98);
}

.8ls {
  min-width: inherit;
  max-width: 20em;
  margin-left: 0.198726909722222em;
  line-height: 1.389883722423361em;
}

.n6l {
  min-width: inherit;
  max-width: 20em;
  margin-left: 0.198726909722222em;
  line-height: 1.389883722423361em;
  margin-top: 0.1em;
}

@media only screen and (max-width: 524px) {
  .n6l {
    line-height: 1.389883722423361em;
  }
}

.cgr {
  min-width: inherit;
  max-width: 24em;
  margin-left: 0.198726909722222em;
  line-height: 2.465342427168506em;
  color: rgba($primary, 0.98);
}

@media only screen and (min-width: 690px) {
  .cgr {
    margin-left: 0.188626909722222em;
    margin-bottom: 0.411357745214159rem;
  }
}
@media only screen and (min-width: 557px) and (max-width: 689px) {
  .cgr {
    margin-bottom: 0.364612784101478rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 556px) {
  .cgr {
    margin-bottom: 0.395859019690526rem;
  }
}
@media only screen and (max-width: 524px) {
  .cgr {
    margin-bottom: 0.56399072789755rem;
  }
}
@media only screen and (max-width: 456px) {
  .cgr {
    margin-bottom: 0.577234986180946rem;
  }
}
@media only screen and (max-width: 419px) {
  .cgr {
    margin-bottom: 0.610129444898517rem;
  }
}
@media only screen and (max-width: 398px) {
  .cgr {
    margin-bottom: 0.646966028477409rem;
  }
}

.7dz {
  font-family: 'WindsorEF', sans-serif;
  font-size: 0.999471179270228em;
  margin-left: 0.154526909722222em;
  line-height: 3.219989423585405em;
}

.dk0 {
  font-family: 'WindsorEF', sans-serif;
  font-size: 0.999471179270228em;
  margin-left: 0.154526909722222em;
  line-height: 3.219989423585405em;
  margin-top: -0.1em;
}

.nm1 {
  font-family: 'DIN Medium', sans-serif;
  font-weight: 560;
  font-size: 0.555261766261238em;
  margin-left: 0.318307773664728em;
  line-height: 3.219989423585405em;
  margin-top: -1.609994711792703em;
}

@media only screen and (min-width: 690px) {
  .vt8 {
    margin-bottom: 0.497344611060989rem;
  }
}
@media only screen and (max-width: 689px) {
  .vt8 {
    margin-bottom: 0.450599649948308rem;
  }
}
@media only screen and (min-width: 533px) and (max-width: 556px) {
  .vt8 {
    margin-bottom: 0.463794002274274rem;
  }
}
@media only screen and (min-width: 525px) and (max-width: 532px) {
  .vt8 {
    margin-bottom: 0.471094212981744rem;
  }
}
@media only screen and (max-width: 524px) {
  .vt8,
  .5ue {
    font-size: 0.659505552617663rem;
  }
  .vt8 {
    margin-bottom: 0.466946170076408rem;
  }
}

@media only screen and (max-width: 419px) {
  .jt6 {
    font-size: 0.642712189317822rem;
  }
}

.gxy {
  font-family: 'WindsorEF', sans-serif;
  font-size: 19.306584722222222px;
  font-size: 1.206661545138889em;
  color: $primary;
  min-height: 100vh;
  line-height: 24px;
  line-height: 1.405em;
  display: inline-block;
  visibility: visible;
  margin: auto;
}

/* svg animation */
.list {
  backface-visibility: hidden;
}
.list-enter-to,
.list-leave{
  transition-delay: 100ms;
  cursor: pointer;
  transform: translate3d(-22px, 20px, 0) scale(2);
}
.list-enter-active {
  transition: all 0.4s ease;
}
.list-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.list-enter, .list-leave-to {
  transition-delay: 100ms;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: scale(0.5);
}

/* portfolio-background */
@media only screen and (min-width: 525px) {
  .g2-bk-desk {
    background-color: blue;
  }
  .g2-bk-mob {
    background-color: black;
  }
}

/* help widget */
.csw {
  width: 60vw;
  margin: auto;
}

.d1k {
  position: absolute;
}

.kwy {
  left: 2px;
  text-align: left;
}

.zq8 {
  text-align: left;
}

@media only screen and (min-height: 821px) {
  .w28 {
    top: calc(77vh - 176.43px);
  }
  .7da {
    top: calc(77vh - 264.43px);
  }
}

@media only screen and (max-height: 820px) {
  .w28 {
    top: calc(392.16px + 17.1vw - 176.43px);
  }
  .7da {
    top: calc(392.16px + 17.1vw - 264.43px);
  }
}

.q0s {
  background: #202124;
  color: #DEE1E6;
}

.ox6 {
  border-radius: 1px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
  box-sizing:border-box;
  font-family: 'AtkinsonHyperlegibleBold';
  letter-spacing: 0.04em;
  font-weight: 800;
  line-height: 1.405em;
  height: auto;
  padding: 23.1px;
  width: inherit;
  font-size: calc(11.108673545568745px + 0.146412318892328rem);

  hr{
    background:#5F6368;
    border:none;
    height: 1px;
    margin-top: 18.15px;
    position:relative;
    width: 100%;

    &:after{
      content: ".";
      position:absolute;
      right:-5.775px;
      top:-14.85px;
    }
  }
}

.idh {
  position:absolute;
  min-width: 361.19px;
}

.btj {
  min-height: 153.33px;
}
.wgw {
  min-height: 241.33px;
}
.hjn {
  text-decoration: none;
  color: #DEE1E6;
}
